.aboutMe {
    min-height: 100vh;
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    color: rgb(27, 27, 27);
  }
  
  .aboutMeContainer {
    width: 800px;
    min-height: 100vh;
  }
  
  .titleReturn {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: onLoad 1s;
  }
  
  .title {
    font-size: 3em;
  }
  
  .return {
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(27, 27, 27);
  
    &:hover {
      font-size: 1.2em;
      color: rgb(218, 50, 190);
    }
  }
  
  .separator {
    margin: 1em 0;
    height: 5px;
    width: 170px;
    background: rgb(218, 50, 190);
    animation: onLoad 1s;
  }
  
  .aboutMeDisplay {
    margin: 4em 0;
    width: 100%;
    height: auto;
    animation: onLoad 1s;
  
    p {
        font-family: 'Rubik', sans-serif;
        line-height: 2.1em;

        a {
            font-family: 'Rubik', sans-serif;
            color: rgb(27, 27, 27);

            &:hover {
                color: rgb(218, 50, 190);
            }
        }

        strong {
            font-family: 'Rubik', sans-serif;
        }
    }
  }
  
  .navigation {
    display: flex;
    width: 95%;
    margin: 4em 0;
    animation: onLoad 1s;
  
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: rgb(199, 199, 199);
      color: rgb(36, 36, 36);
      text-decoration: none;
      padding: 0.7em 4em;
      border-radius: 5px;
      transition: 0.2s all ease-in-out;
      margin: 0 8px;
  
      &:hover {
        background: rgb(192, 192, 192);
        color: rgb(218, 50, 190);
      }
    }
  }
  
  .footer {
    text-align: center;
    margin-bottom: 2em;
    font-size: 0.8em;
    animation: onLoad 1s;
  
    p {
      font-weight: 600;
    }
  
    a {
      color: rgb(218, 50, 190);
    }
  }
  
  @media only screen and (max-width: 900px) {
    .title {
      font-size: 2em;
    }
  
    .return {
      font-size: 1em;
    }
  
    .aboutMeContainer {
      width: 300px;
    }
  
    .separator {
      margin: 1em 0;
      height: 3px;
      width: 130px;
    }
  
    .aboutMeDisplay p {
      font-size: 0.9em;
    }
  
    .navigation {
      flex-direction: column;
      height: 110px;
      justify-content: space-between;
    }
  }
  
  @keyframes onLoad {
    0% {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: 1;
    }
  }