.header {
    min-height: 100vh;
    background: rgb(5, 11, 50);
    background: linear-gradient(
        0deg,
        rgba(5, 11, 50, 1) 0%,
        rgba(35, 44, 91, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.social {
    display: flex;
    margin-bottom: 20px;
    animation: onLoadIcons 2s;

    a {
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        background: rgb(13, 19, 61);
        border-radius: 50px;
        font-size: 2em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: rgb(218, 50, 190);
        }
    }
}

.name {
    color: white;
    font-weight: 500;
    font-size: 5em;
    animation: onLoad 1s;
}

.roles {
    margin: 1em 0 3em 0;
    display: flex;
    animation: onLoad 1s;

    h2 {
        color: rgb(218, 50, 190);
        font-size: 1.8em;
        font-weight: 500;
        animation: onLoad 1s;
    }

    span {
        color: white;
        font-size: 1.5em;
        margin: 0 0.8em;
        font-weight: 200;
        animation: onLoad 1s;
    }
}

.callToAction {
    display: flex;
    justify-content: center;
    animation: onLoad 1s;

    a {
        color: white;
        padding: 0.7em 1.5em;
        background: rgb(218, 50, 190);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        animation: example 2s infinite;
        -webkit-animation: example 2s infinite;
        animation-delay: 2s;
        text-decoration: none;
        font-size: 1em;

        &:last-child {
            color: white;
            padding: 0.7em 1.5em;
            background: rgb(218, 50, 190);
            border-radius: 10px;
            margin-left: 2em;
            animation: example 2s infinite;
            animation-delay: 1s;
        }

        &:hover {
            background: rgb(121, 26, 105);
        }
    }
}

.otherOptions {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    animation: onLoad 1s;

    a {
        margin-top: 20px;
        padding: 0.7em 1.5em;
        background: rgb(10, 10, 10);
        border-radius: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;

        &:hover {
            background: rgb(0, 0, 0);
            color: rgb(218, 50, 190);
        }
    }
}

@media only screen and (max-width: 600px) {
    .social {
        a {
            height: 45px;
            width: 45px;
            font-size: 1.5em;
        }
    }

    .name {
        font-size: 4em;
        margin-bottom: 0.6em;
        text-align: center;
    }

    .roles {
        flex-direction: column;
        text-align: center;

        h3 {
            color: rgb(218, 50, 190);
            font-size: 1.4em;
            animation: onLoad 1s;
        }

        span {
            color: white;
            font-weight: 200;
            font-size: 1.8em;
            margin: 0;
            animation: onLoad 1s;
        }
    }

    .callToAction a {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 400px) {
    .social {
        a {
            height: 37px;
            width: 37px;
            font-size: 1.2em;
        }
    }

    .name {
        font-size: 3.5em;
        margin-bottom: 0.6em;
    }

    .roles {
        flex-direction: column;
        text-align: center;

        h2 {
            color: rgb(218, 50, 190);
            font-size: 1.3em;
            animation: onLoad 1s;
        }

        span {
            color: white;
            font-weight: 200;
            font-size: 1.8em;
            margin: 0;
            animation: onLoad 1s;
        }
    }

    .callToAction {
        a {
            font-size: 0.8em;
        }
    }

    .otherOptions {
        margin-top: 2em;
    }
}

@keyframes example {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    50% {
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes onLoad {
    0% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes onLoadIcons {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
