.projects {
    min-height: 100vh;
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    color: rgb(27, 27, 27);

    .projectsContainers {
        width: 800px;
        min-height: 100vh;

        .titleReturn {
            margin-top: 3em;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            animation: onLoad 1s;

            .title {
                font-size: 3em;
            }
        
            .return {
                font-size: 1.2em;
                cursor: pointer;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: rgb(27, 27, 27);
            }
        
            .return:hover {
                font-size: 1.2em;
                color: rgb(218, 50, 190);
            }

        }
        
        .separator {
            margin: 1em 0;
            height: 5px;
            width: 170px;
            background: rgb(218, 50, 190);
            animation: onLoad 1s
        }
        
        .projectsDisplay {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem 2rem;
            margin-top: 5em;
            width: 100%;
            height: auto;
            animation: onLoad 1s;

            .projectCard {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                background: rgb(224, 224, 224);

                .projectDescription {
                    font-size: 1em;
                    height: 120px;
                    word-wrap: break-word;
                    margin: 10px 0;
                    padding: 1em;
                    text-align: center;
                    line-height: 1.5em;

                    p {
                        font-family: 'Rubik', sans-serif;
                    }
                }
                
                .projectImg {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                .projectIcons {
                    margin-bottom: 1em;
                    height: 50px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .projectIcons a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    color: rgb(53, 53, 53);
                    cursor: pointer;
                    text-decoration: none;
                    transition: 0.2s all ease-in-out;
                    font-weight: 700;
                    padding: 8px 15px;
                    background: transparent;

                    &:hover {
                        color: rgb(218, 50, 190);
                        background: rgb(211, 211, 211);
                    }
                }   
        
                .projectIcons a small {
                    margin-left: 10px;
                }
            }
        }
        .navigation {
            display: flex;
            width: 100%;
            margin: 4em 0;
            animation: onLoad 1s;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background: rgb(199, 199, 199);
                color: rgb(36, 36, 36);
                text-decoration: none;
                padding: 0.7em 4em;
                border-radius: 5px;
                transition: 0.2s all ease-in-out;
                margin: 0 8px;

                &:hover {
                    background: rgb(192, 192, 192);
                    color: rgb(218, 50, 190);
                }
            }
        }

        .footer {
            text-align: center;
            margin-bottom: 2em;
            font-size: 0.8em;
            animation: onLoad 1s;
            p {
                font-weight: 600;
            }

            a {
                color: rgb(218, 50, 190);
            }
        }
    }
}



@media only screen and (max-width: 900px) {
    .projects {
        .projectsContainers {
            width: auto;
            padding: 0 3em;

            .titleReturn {
                .title {
                    font-size: 2em;
                }
                .return {
                    font-size: 1em;
                }
            }

            .separator {
                margin: 1em 0;
                height: 3px;
                width: 130px;
            }
            .projectsDisplay {
                grid-template-columns: repeat(1, 1fr);
                gap: 5rem;
            }

        }

        .navigation {
            flex-direction: column;
            height: 110px;
            justify-content: space-between;
        }
    }
}
@keyframes onLoad {
    0%   {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}