.buttonGroupStyles {
    width: 100%;
    display: flex;
    animation: onLoad 1s;

}


.tabStyles {
    padding: 0.5em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: inherit;
    border: 1px solid rgb(218, 50, 190);
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: onLoad 1s;

    &:hover {
        background: rgb(218, 50, 190);
        color: rgb(187, 187, 187);
    }

}

.activeTab {
    background: rgb(218, 50, 190);
    color: rgb(255, 255, 255);
}

.projectsDisplay {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    margin-top: 5em;
    width: 100%;
    height: auto;
    animation: onLoad 1s;

    .privatReposMsg {
        position: absolute;
        top: -80px;
        left: 20px;
        font-size: 1.2em;
        color: rgb(218, 50, 190);
        animation: onLoad 1s;

    }

    .projectCard {
        &:hover {
            outline: 1px solid rgba(0, 0, 0, .2);
        }

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background: rgb(224, 224, 224);

        .projectDescription {

            font-size: 1em;
            height: 120px;
            word-wrap: break-word;
            margin: 10px 0 30px;
            padding: 1em;
            text-align: center;
            line-height: 1.5em;

            p {
                font-family: 'Rubik', sans-serif;
            }
        }

        .projectImg {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }

        .projectIcons {
            margin-bottom: 1em;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .projectIcons a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            color: rgb(53, 53, 53);
            cursor: pointer;
            text-decoration: none;
            transition: 0.2s all ease-in-out;
            font-weight: 700;
            padding: 8px 15px;
            background: transparent;

            &:hover {
                color: rgb(218, 50, 190);
                background: rgb(211, 211, 211);
            }
        }

        .projectIcons a small {
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 900px) {

    .projectsDisplay {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }

    .navigation {
        flex-direction: column;
        height: 110px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {

    .projectsDisplay {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .navigation {
        flex-direction: column;
        height: 110px;
        justify-content: space-between;
    }
    .tabStyles {

        font-size: 1em;
    }
}

@keyframes onLoad {
    0% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}